.w-75 {
  width: 75%;
}
.w-25 {
  width: 25%;
}
.todo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.todo-form {
  width: 50vw;
  display: flex;
  gap: 10px;
}
.todo-form div {
  display: flex;
}
.todo-form input {
  width: 100%;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
}
.todo-form button {
  width: 100%;
}

.todo-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  width: 50vw;
}

.todo-list {
  width: 100%;
  padding-left: 0;

  display: flex;
  flex-direction: column;
}

.todo-list li {
  list-style-type: none;
  display: flex;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
  margin-top: 5px;
  font-size: larger;
}

.todo-item[data-checked="true"] {
  text-decoration: line-through;
}

.todo-button-group {
  display: inline-block;
}

.todo-control {
  color: #c9c9c9;
  border: 2px solid #1c793d;
  border-radius: 10px;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-left: 10px;
}

.todo-done-button {
  background-color: #219449;
}
.todo-done-button:hover {
  background-color: #1c793d;
}
.todo-remove-button {
  border: 2px solid #822525;
  background-color: #9b2626;
}
.todo-remove-button:hover {
  background-color: #822525;
}

.todo-display {
  border: 1px solid #ccc;
}
